<!doctype html>
{%load static%}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link rel="stylesheet" href="{% static 'accordion/style.css' %}">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <title>Story7</title>
</head>
<body>
 
<div id="accordion">
  <div class ="wrapper">
    <div>
    <button value='up' class='up-button' >Up</button>
	<button value='down' class ='down-button'>Down</button>
    </div>
  <h3>Aktivitas </h3>
  <div>
    <p>
    kuliah.
    </p>
  </div>
  </div>

  <div class="wrapper">
    <div>
    <button value='up' class='up-button' >Up</button>
	<button value='down' class ='down-button'>Down</button>
    </div>
  <h3>Organisasi/Kepanitiaan</h3>
  <div>
    <p>
        <ul>
            <li>Sospro (kalo diitung kepanitiaan)</li>
            <li>Mentor DDP0 2020</li>
        </ul>
    </p>
  </div>
  </div>

  <div class ="wrapper">
    <div>
    <button value='up' class='up-button' >Up</button>
	<button value='down' class ='down-button'>Down</button>
    </div>
  <h3>Prestasi</h3>
  <div>
    <p>
        <ul>
            <li>65th place Low Tier City Midseason SEA</li>
            <li>13th place AUSSEA Open 4</li>
            <li>25th place RnWC Grand Series</li>
        </ul>
    </p>
  </div>
  </div>

  <div class ="wrapper">
    <div>
    <button value='up' class='up-button' >Up</button>
	<button value='down' class ='down-button'>Down</button>
    </div>
  <h3>Ngga tau mau isi apa lagi</h3>
  <div>
    <p>
    tapi di story disuruh 4, jadinya diisi ginian aja
    </p>
  </div>
  </div>
</div>

 <script src="{%static "accordion/script.js"%}"></script>
</body>
</html>