{% extends 'event/base.html' %}

{% block content %}
<h1>Activities</h1>
<br>
<div class = "column">
{% for i in evt %}
<div class = "col-auto">
    <div class = "card text-white mb-3 my-card", style = "width: 50%">
        <div class = "card-body">
            <h5 class = "card-title">{{i.name}}</h5>
            <ul>
            {% for j in ptc %}
                {% if j.event_registered.name == i.name %}
                    <p class = "card-text"><li>{{j.name}}</li><p>
                {% endif %}
            {% endfor %}
            </ul>
            <a href="{% url 'event:register' key=i.id %}" button type="button" class="btn btn-light">Register</a>
            <a href="{% url 'event:delete' key=i.id %}" button type="button" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>   
{% endfor %}
<div class = column>
    <div class = "col-auto">
        <div class = "card text-white mb-3 my-card", style = "width: 50%">
            <div class "card-body">
                <form method="POST" , action="">
                    {% csrf_token %}
                    {{form}}
                    <input type="Submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
<div>
{% endblock  %}