{% extends 'event/base.html' %}

{% block content %}
<div class="d-flex flex-column my-flex-container">
     <form method="POST" , action="">
        {% csrf_token %}
        {{form}}      
        <input type="Submit" value="Submit">
    </form>
    <a href="{% url 'event:index' %}" button type="button" class="btn btn-danger">Cancel</a>
</div>
{% endblock  %}