<!doctype html>
{%load static%}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'event/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Story8</title>
</head>
<body>
  <input id="keyword" placeholder="Search..">

  <div id=res>

  </div>
  <script type="text/javascript">
  $("#keyword").keyup(function() {
    var key = $("#keyword").val();
    console.log(key);

    $.ajax({
        url: "{% url 'library:books'%}" + "?q=" + key,
        success:function(res){
            console.log(res.items);
            var obj_res = $("#res");
            obj_res.empty();

            for (i=0;i<res.items.length;i++){
                var title = res.items[i].volumeInfo.title;
                var thumbnail = res.items[i].volumeInfo.imageLinks.thumbnail;
                var author = res.items[i].volumeInfo.authors;
                var info = res.items[i].searchInfo.textSnippet;
                console.log(title);
                obj_res.append(
                  "<div class = 'card mb-3 my-card', style = 'width: 50%'>"+
                    "<div class = 'card-body'>"+
                    "<h5 class = 'card-title' id='justify'>"+title+"</h5>"+
                      "<table>"+
                        "<tbody>"+
                          "<tr>"+
                            "<td rowspan='2'><img src="+thumbnail+"></img></td>"+
                            "<td>"+author+"</td>"+
                          "<tr>"+
                            "<td>"+info+"</td>"+
                        "</tbody>"+
                      "</table>"+
                    "</div>"+
                  "</div>");
            }
        }
    });
  });
  </script>
</body>
</html>



 {% comment %} "<div class = 'card text-white mb-3 my-card', style = 'width: 50%'>"+
                    "<div class = 'card-body'>"+
                        "<h5 class = 'card-text' id='justify'>"+title+"</h5>"+
                        "<p class = 'card-text' id='justify'>"+author+"</p>"+
                        "<img src="+ thumbnail +"></img>"+
                    "</div>"+
                  "</div>" {% endcomment %}


{% comment %} "<li>"+title+"<br>"+author+"<br> <img src="+thumbnail+"></li>" {% endcomment %}