body {
    background-color: #D8F3DC;
}

/* .up-button{
    position: absolute;
    right: 0;
    top: 5px;
    display:inline-block;
}

.down-button{
    position: absolute;
    right: 0;
    top: 5px;
    display:inline-block;
} */