<!DOCTYPE html>
<html lang="en">
{%load static%}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'course/style.css' %}">
    

    <title>Story5</title>
  </head>

  <body>
     <nav class="navbar sticky-top navbar-inverse navbar-expand-lg navbar-light" style="background-color: #74c69d">
      <div class="container-fluid">
      <a class="navbar-brand">Welcome!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'course:index'%}">Course List</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'course:add'%}">Add Course</a>
          </li>
          {% endif %}
        </ul>

        {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right ml-auto">
          <li>
            <a class="nav-link">Hello, {{user.get_username}}</a>
          </li>
          <li>
            <a class="nav-link" href="{%url 'course:logout'%}">Logout</a>
          </li>   
        </ul>

        {% else %}
        <ul class="nav navbar-nav navbar-right ml-auto">
          <li>
            <a class="nav-link" href="{%url 'course:register'%}">Sign Up</a>
          </li>
          <li>
            <a class="nav-link" href="{%url 'course:login'%}">Login</a>
          </li>   
        </ul>
        {% endif %}

      </div>
      </div>
    </nav>
    <div class="d-flex flex-column my-flex-container">      
      {%block content%}
      
      {% endblock %}
    </div>
      {% block footer %}
      
      {% endblock footer %}  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>