{% extends 'course/base.html' %}

{% block content %}
<table border="1px">
    <tbody>
        <td align="center"><b>Mata kuliah</b></td>
        <td align="center">{{obj.matkul}}</td>
    </tbody>
    <tbody>
        <td align="center"><b>Dosen</b></td>
        <td align="center">{{obj.dosen}}</td>
    </tbody>
    <tbody>
        <td align="center"><b>Jumlah SKS</b></td>
        <td align="center">{{obj.sks}}</td>
    </tbody>
    <tbody>
        <td align="center"><b>Deskripsi</b></td>
        <td align="center">{{obj.deskripsi}}</td>
    </tbody>
    <tbody>
        <td align="center"><b>Semester</b></td>
        <td align="center">{{obj.semester}}</td>
    </tbody>
    <tbody>
        <td align="center"><b>Ruang</b></td>
        <td align="center">{{obj.ruang}}</td>
    </tbody>
</table>
<center><a href="{% url 'course:delete' key=obj.id %}" class="btn btn-danger" id="justify">Delete</a></center>
{% endblock %}