{% extends 'course/base.html' %}

{% block content %}
<table border="1px">
    <body>
        <td align="center"><b>Nama Matkul</b></td>
        <td align="center"><b>Nama Dosen</b></td>
        <td align="center"><b>Detail</b></td>
    </body>
    {% for i in obj %}
    <tbody>
        <td align="center">{{i.matkul}}</td>
        <td align="center">{{i.dosen}}</td>
        <td align="center"><a href="{%url 'course:detail' key=i.id%}">Detail</td>
    </tbody>
    {% endfor %}
</table>
{% endblock %}

{% block footer %}
{% if user.is_authenticated %}

{% else %}
    <div id="justify">
        <h1>Login to add your own course!</h1>
    </div>
{% endif %}
{% endblock footer %}