{% extends 'course/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div id="justify">
<form method="POST" action="">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username..." class="form-control">
    <input type="password" name="password" placeholder="Password..." class="form-control" >
    <input type="submit" name="Create User">
</form>
</div>
{% endblock %}