{% extends 'course/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div id="justify">
<form method="POST" action="">
    {% csrf_token %}
    {{form | crispy}}
    <input type="submit" name="Create User">
</form>
</div>
{% endblock %}