h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: green;
    margin-top: 100px;
}

body {
    background-color: #D8F3DC;
}

.my-flex-container {
    background: #95D5B2;
    min-height: 300px;
    width: 60%;
    min-width: 250px;
    max-width: 850px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    padding: 5 px;
}

#justify {
    margin: auto;
    text-align: center;
    justify-content: center;
    padding: auto;
}